__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.git/
.gitignore
docker/
Dockerfile
docker-compose.yml
.dockerignore
run/
*.log
data/
.DS_Store
Thumbs.db
