__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.git/
.gitignore
docker/
!docker/start_dms.sh
!docker/start_dms_service.sh
!docker/wait-for-influxdb.sh
Dockerfile
docker-compose.yml
.dockerignore
run/
*.log
data/
.DS_Store
Thumbs.db
